<!DOCTYPE html>
<html lang="en">
<head>
	<title>WhitePage</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/public/showID_form/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/showID_form/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/showID_form/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/showID_form/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/showID_form/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/showID_form/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/showID_form/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/showID_form/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/showID_form/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/showID_form/css/util.css">
	<link rel="stylesheet" type="text/css" href="/public/showID_form/css/main.css">
<!--===============================================================================================-->
</head>
<body>


	<div class="container-login100" style="background-image: url('/public/showID_form/images/bg-01.jpg');">
		<div class="wrap-login100 p-l-25 p-r-25 p-t-25 p-b-25">
			<form class="login100-form validate-form">
				<h1 style="color: red; font-weight: bold; font-size: 20px; text-align: center;">Your Nickname is <span style="color: blue;"><%= result %></span></h1>
                <h1 class="p-t-25" style="font-weight: bold; font-size: 15px; text-align: center;">We are preparing this page ! See you soon !</h1>
				<div class="p-l-25 p-r-25 p-t-25 p-b-0" style="text-align: center;">
					<a href="/public/login.html">Go login page</a>/
					<a href="/public/change-PW.html">Go reset password page</a>
				</div>
			</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="/public/showID_form/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/showID_form/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/showID_form/vendor/bootstrap/js/popper.js"></script>
	<script src="/public/showID_form/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/showID_form/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/public/showID_form/vendor/daterangepicker/moment.min.js"></script>
	<script src="/public/showID_form/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/public/showID_form/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/public/showID_form/js/main.js"></script>

</body>
</html>
